body{
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(0, 0, 0);

}

section{
    margin:auto;
}

.nav-bar{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.nav-bar:hover{
    color:0 0 5px rgb(145, 255, 137);
    text-shadow: 0 0 5px rgb(134, 255, 59);
    letter-spacing: 3px;

}

.button-nav{
    color:black;
    transition: .3s;
    text-decoration: none;
}
.button-nav:hover{
    text-shadow: 0 0 7px rgb(134, 255, 59);
    letter-spacing: 3px;
}

.container{
    max-width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation{
    background: black;
    margin: auto;
}

.navigation li{ 
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    width: 20%;
    margin-top: none;
    color: white;
    font-size: 35px;
}

.navigation ul{
    display: flex;
    flex-wrap: wrap;
}

p{
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

h1{
    padding-top: 162px;
    font-size: 61px;
    margin: 0px;
}

h2{
    font-size: 160px;
    margin: 0px;
}

.title-page{
    margin: auto;
    background-color: white;
}

.about{
    color:white;
    background-color: black;
    font-weight: 200;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 90px;

}

.about img{
    width: 360px;
    height: 250px;
    display: block;
    float: right;
    margin-left: 43px;
    padding-top: 10px;
    padding-bottom: 42px;
    object-fit: cover;

}

#padding-about{
    padding-top: 60px;
}

.functions{
    background-color: white;
}

h3{
    font-size: 45px
}

h4{
    margin: 0px;
    padding-bottom: 2px;
    font-size: 40px;
}

.functions li{
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    width: 30%;
    margin-top: none;
    padding: 10px;
}

.functions ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.learn-more{
    background-color: black;
    color: white;
    padding-bottom: 39px;
}

.learn-more ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.learn-more li{
    display: block;
    width: 20%;
    margin-left: 17px;
    font-size: 34px;
    background-color: white;
    padding: 10px;
    text-align: center;
    color:black;
    
}

.intro-sections{
    margin: auto;
    background-color: white;
   
}

.header{
    padding-top: 140px;
    font-size: 100px;
    margin: 5px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
}

.black-background{
    color: white;
    background: black;
    font-weight: 200;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 90px;
}

.white-background{
    color: black;
    background: white;
    font-weight: 200;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 90px;
}

.about-images{
    width: 360px;
    height: 250px;
    display: block;
    float: right;
    margin-left: 43px;
    padding-top: 10px;
    padding-bottom: 42px;
    object-fit:cover;

}
